<div>
  <app-navbar></app-navbar>
</div>
<h2 class="text-center">Inicio de sesión</h2>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="angForm" (ngSubmit)="AngularData(angForm)">
          <div class="mb-3">
            <label for="correoElectronico" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="correoElectronico" name="correoElectronico" formControlName="correoElectronico"  required>
            <div class="pt-1" *ngIf="angForm.get('correoElectronico')?.invalid && (angForm.get('correoElectronico')?.dirty || angForm.get('correoElectronico')?.touched)">
              <div *ngIf="angForm.get('correoElectronico')?.hasError('required')" class="alert alert-danger">El correo electrónico es obligatorio.</div>
              <div *ngIf="angForm.get('correoElectronico')?.hasError('email')" class="alert alert-danger">El correo electrónico no es válido.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label">Contraseña</label>
            <input type="Password" class="form-control" id="Password" name="Password" formControlName="Password" autocomplete="false" required>
            <div class="pt-1" *ngIf="angForm.get('Password')?.invalid && (angForm.get('Password')?.dirty || angForm.get('Password')?.touched)">
              <div *ngIf="angForm.get('Password')?.hasError('required')" class="alert alert-danger">La contraseña es obligatoria.</div>
              <div *ngIf="angForm.get('Password')?.hasError('pattern')" class="alert alert-danger">La contraseña debe tener al menos 8 caracteres e incluir al menos una letra mayúscula, una letra minúscula y un dígito</div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="angForm.invalid">Iniciar Sesión</button>
        </form>
      </div>
    </div>
</div>
  

